@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@600&family=Quicksand&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

header {
    background-color: rgb(255, 255, 255);
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0;
}

.log {
    background-color: rgba(255, 165, 0, 0.81);
    padding: 0.5rem 1.8rem;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.log:hover {
    transition: .5s ease-out;
    background-color: rgb(255, 166, 0);
}

.image {
    height: 40px;
    width: 180px;
}
section{
    background-color: rgba(167, 120, 33, 0.055);
    padding: 5.5rem 1rem;
}
.content-container {
    background-color: rgb(255, 255, 255);
    border: 1px rgba(0, 0, 0, 0.137) solid;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.055);
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
}

.content h2 {
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px rgba(0, 0, 0, 0.116) solid;
}
.content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}
.content p{
    font-family: 'Roboto';
    text-align: center;
    letter-spacing: 1px;
    padding: 1rem;
    font-size: 16px;
}
.content label{
    font-family: 'Roboto';
    font-weight: bold;
    color: rgba(0, 0, 0, 0.534);
    font-size: 15px;
    padding: 0.5rem .2rem;

}
form input{
    padding: 0.9rem .5rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.521);
    outline-color: orange;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: 50%;
}
.button-submit{
    margin-top: 1.4rem;
    border-top: 1px rgba(0, 0, 0, 0.233) solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.button{
    padding: 1rem 0;
}
.code{
    padding: 0 0.5rem;
}
.code a{
    font-family: 'Roboto';
    font-size: 14px;
    color: rgba(0, 140, 255, 0.747);
    font-weight: bold;
    letter-spacing: 1px;
}
.code a:hover{
    text-decoration: underline;
    color: rgba(10, 117, 204, 0.856);
    transition: 0.5s ease-in;
}
.button-submit button{
    padding: 0.6rem 2rem;
    background-color: rgba(255, 165, 0, 0.81);
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid;
    cursor: pointer;
}
.button a{
    margin-right: 0.5rem;
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    background-color: rgba(112, 112, 112, 0.425);
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid;
    cursor: pointer;
}
.button-submit button:hover{
    transition: .5s ease-out;
    background-color: rgb(255, 166, 0);
}
.button a:hover{
    transition: .5s ease-out;
    background-color: rgba(112, 112, 112, 0.171);
}
.form-content
{
    padding: 1.3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.text-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-content h5,span{
    font-family: 'Roboto';
    padding: .2rem 0;
}
h3{
    padding-left: 1rem;
    font-size: 14px;
    color: rgba(255, 0, 0, 0.377);
    font-family: sans-serif;
}
/* footer section */
.footer {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem 1rem;
    background-color: rgb(255, 255, 255);
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}
.footer p{
    color: rgba(0, 0, 0, 0.596);
}
.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}