*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: visible;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
 .clear{
        clear: both;
    }
 a{
   text-decoration: none;
    color: #000;
     cursor: pointer;
    }
.container{
    width: 100%;
    height: auto;
}
.left{
    padding-top: 40px;
    background-color: wheat;
    width: 35%;
    height: 695px;
    float:left;
    background-color: #fff;
}

.logo{
    display: flex;
    flex-direction: column;
    width: 68%;
    margin: 20px auto 30px auto;
    align-items: center;
    justify-content: center;
}
.logo a{
    height:auto;
}
.logo img{
    width: 190px;
    height: 40px;
}
.logo h2{
    font-weight: bold;
    margin: 40px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 33px;
    color: rgba(0, 0, 0, 0.72);
    letter-spacing: 1px;
}
.left-content form{
    width: 68%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.forgot-pass{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 25px;
}
.forgot-pass a{
     font-size: 12px;
    color:rgba(255, 0, 0, 0.61);
    font-family: sans-serif;
    padding-right: 4px;
    font-weight: bold;
}
.forgot-pass a:hover{
    transition: 0.5s all ease;
    color: #ff0000;
}
.left-content p{
    font-size: 13px;
    color:rgba(0, 0, 0, 0.74);
    font-family: sans-serif;
}
.left-content input[type=email], input[type=password]{
    width: 100%;
    border: 1px rgba(0, 0, 0, 0.28) solid;
    outline-color: rgba(255, 128, 0, 0.67);
    padding: 13px 20px;
    color: rgba(0, 0, 0, 0.47);
    border-radius: 3px;
    margin: 10px 0 15px 0;
}
.error{
    text-align: center;
}
.error p{
    color: rgba(255, 0, 0, 0.78);
    letter-spacing: 1px;   
}
.button1{
    width: 100%;
    cursor: pointer;
    border: 1px rgba(255, 78, 0, 0.56) solid;
    outline-color: rgba(255, 128, 0, 0.67);
    padding: 13px 20px;
    background-color: rgba(255, 165, 0, 0.81);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px 0px 20px 0px;
    position: relative;
    z-index: 1;
}
.button1:hover{
    color: #fff;
    cursor: pointer;
}
.button1:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(255, 165, 0);
}
.button1:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.bottom-content{
    text-align: center;
}
.bottom-content a{
     font-size: 13px;
    color:rgba(255, 0, 0, 0.61);
    font-family: sans-serif;
    padding-right: 4px;
    font-weight: bold;
}
.bottom-content a:hover{
    transition: 0.5s all ease;
    color: #ff0000;
}
.bottom-content span{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.47);
    font-family: sans-serif;
    padding-right: 4px;
    font-weight: bold;
    letter-spacing: 1px;
}

.right{
    background-image: url(../img/login_background.png);
    background-position:right;
    background-repeat: no-repeat;
    width: 65%;
    float: right;
    height: 695px;
    position: relative;
}
.ucc-logo{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.ucc-logo img{
    height: 105px;
    width: 100px;
}

/* FAILED MESSAGE */

.failed{
  background: rgb(255, 211, 211);
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #ff6d6d;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.failed.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.failed.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.failed.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.failed i{

  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #b20202;
  font-size: 20px;
}
.failed .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #880404;
}
.failed #close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 109, 109, 0.67);
  padding: 30px 25px;
  cursor: pointer;
}
.failed #close-btn:hover{
  background: #ffb0b0;
}
#close-btn i{
  color: rgb(239, 92, 92);
  font-size: 22px;
  line-height: 40px;
}

/* END OF FAILED MESSAGE */

/* SUCCESS MESSAGE */

.success{
  background: #9bffa3;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #02ff81;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.success.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.success.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.success.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.success i{

  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #09b202;
  font-size: 20px;
}
.success .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #098804;
}
.success .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #02ff81;
  padding: 30px 25px;
  cursor: pointer;
}
.success .close-btn:hover{
  background: #06cc69;
}
.close-btn i{
  color: #02be60;
  font-size: 22px;
  line-height: 40px;
}
/* END OF SUCCESS MESSAGE */