@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: absolute;
  width: 250px;
  height: 100%;
  background: #FFC55C;
  
}
.sidebar .text{
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  background: #FFC55C;
  letter-spacing: 1px;
}
nav ul{
  background: #FFC55C;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #fff;
  background: #FFC55C;
  border-left-color: #fff;
}
nav ul li a:hover{
  background: #fff;
  color: #FFC55C; 
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #A36A00;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: white;
  background: #FFB52E;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #FFB52E!important;
  background: #fff!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.container {
   position: absolute;
   right: 0;
   width: 80vw;
   height: 100vh;
   background: #fff;


}
.container .content{
   position: relative;
   margin-top: 0vh;
   max-height: 90vh;
   background: #fff;

}
.container .content .cards{
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
.container .content .cards .card{
   width: 250px;
   height: 100px;
   background: white;
   margin: 10px 10px 10px 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, .19);
   border-radius: 5px;
}


.container .content .content-2{
   min-height: 60vh;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-wrap: wrap;

}
.container .content .content-2 .recent-payments{
   min-height: 50vh;
   flex: 5;
   background: white;
   margin: 0 25px 25px 25px ;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .19);
   display: flex;
   flex-direction: column;
}
.container .content .content-2 .new-students{
   flex: 2;
   background: white;
   min-height: 50vh;
   margin: 0 25px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .19);
   display: flex;
   flex-direction: column;
}
.container .content .content-2 .new-students table td:nth-child(1) img{
   height: 40px;
   width: 40px;
}
@media screen and (max-width: 1050px){
   .side-menu li{
      font-size: 18px;
   }
}
@media screen and (max-width: 940px){
   .side-menu li span{
      display: none;
   }
   .side-menu{
      align-items: center;
   }
   .side-menu li img{
      width: 40px;
      height: 40px;
   }
   .side-menu li:hover{
      background: #f05462;
      padding: 8px 38px;
      border: 2px solid white;
   }
}
@media screen and (max-width: 536px){
   .brand-name h1{
      font-size: 16px;
   }
   .container .content .cards{
      justify-content: center;
   }
   .side-menu li img{
      width: 30px;
      height: 30px;
   }
   .container .content .content-2 .recent-payments table th:nth-child(2),
   .container .content .content-2 .recent-payments table td:nth-child(2){
      display: none;
   }

}

.enrolled{
   overflow-y: scroll;
   overflow-x: hidden;
   height: 300px;
   margin-right: 10px;
   margin-top: 10px;
 }
 
 
 .content-table {
   border-collapse: collapse;
   font-size: 0.9em;
   min-width: 76.5vw;
   min-height: 15vh;
   border-radius: 5px 5px 0 0;
   margin: auto;
 }
 
 .content-table thead tr {
   background-color: orange;
   color: #ffffff;
   text-align: center;
   font-weight: bold;
 }
 
 
 .content-table thead{
   position: sticky;
   top: 0;
   z-index: 9999;
 }
 
 .content-table th,
 .content-table td {
   text-align: center;
 }
 
 .content-table tbody tr {
   border-bottom: 1px solid #dddddd;
 }
 
 .content-table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
 }
 
 .content-table tbody tr:last-of-type {
   border-bottom: 2px solid orange;
 }
 
 .content-table tbody tr.active-row {
   font-weight: bold;
   color: #009879;
 }
 form button{
   background-color: rgb(35, 201, 118);
   border: none;
   color: white;
   padding: 5px 5px 5px 5px;
 }
 