@font-face {
    font-family: GothamBlack;
    src: url(./fonts/Gotham-Black.otf);
  }
  @font-face {
    font-family: GothamUltra;
    src: url(./fonts/Gotham-UltraItalic.otf);
  }
  @font-face {
    font-family: GothamThin;
    src: url(./fonts/Gotham-Thin.otf);
  }
  @font-face {
    font-family: GothamLight;
    src: url(./fonts/Gotham-XLight.otf);
  }
html, body{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: GothamLight;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.textbox h1{
    font-size: 62px;
    font-family: GothamBlack;
}
.textbox p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
}
.enroll-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}
.enroll-button:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    html, body {
        overflow-x: hidden;
    }
    .textbox h1{
        font-size: 20px;
        font-family: GothamBlack;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px   ;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* course section */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    font-family: GothamBlack;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: bolder;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 22%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* enroll now section */

.enrollnow{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.enrollnow h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .enrollnow h1{
        font-size: 24px;
    }
}

/* footer section */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 10%;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-family: GothamBlack;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* contact us page */
.sub-header{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 20px;
}
.contact-us{
    width: 80%;
    margin: 100px auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: bolder;
}
.contact-col input, .contact-col textarea{
    font-weight: bolder;
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* enrollment page */
.enrollment{
    width: 80%;
    margin: 65px auto;
}
.enrollment .container{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5px;
    gap: 10px;
}
.enrollment .container .title h2{
    font-family: 'Anek Odia', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.86);
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    padding-bottom: 5px;
    
}
.intro p{
    padding: 0px 10px 15px 10px;
    color: rgba(0, 0, 0, 0.83);
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 1px;
    
}
.intro-title{
    display: flex;
    flex-direction: row;
}
.intro-title span{
    padding-top: 1px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Anek Odia', sans-serif;
    color: rgba(255, 0, 0, 0.65);
}
.enrollment .container .title{
    width: 100%;
    font-size: 13px;
    margin-bottom: 10px;
}
.enrollment .container .row{
    display: grid;
    margin: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
}
.inputbox input[type=text], select{
    padding: 10px 0px 7px 6px; 
    outline-color: rgba(247, 135, 52, 0.85);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.49);
    background-color: rgba(235, 235, 235, 0.12);
    
}
.inputbox input[type=email]{
    padding: 10px 0px 7px 6px; 
    outline-color: rgba(247, 135, 52, 0.85);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.49);
    background-color: rgba(235, 235, 235, 0.12);
    
}
.inputbox label{
    padding: 6px 0px 0px 0px;
    font-size: 12px;
    letter-spacing: 1px;

}
.inputbox input[type=date]{
    height: 20px;
    padding: 20px 0px 10px 6px; 
    outline-color: rgba(247, 135, 52, 0.85);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.49);
    background-color: rgba(235, 235, 235, 0.12);
    
}
.row{
    padding-top: 11px;
}
.enrollment .container .row .inputbox{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 10px;
    font-weight: bolder;
}
.enrollment .container .row button{
    width: 200px;
    height: 40px;
    border: 1px solid #f44336;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #f44336;
    justify-self: center;
}
.row button {
    border-radius: 5px;
}

.subject-title{
    padding-top: 50px;
}
.subject-title h2{
    width: 50%;
    margin: 20px auto;
     border-top: 1px solid rgba(0, 0, 0, 0.42);
    text-align: center;
    font-family: 'Anek Odia', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.86);
    padding-top: 50px;
    
}
#subject-container{
    width: 70%;
    margin: 30px auto;
}
.subject{
    display: grid;
    justify-content: center;
    align-items: center

}
.subject table{
    border-collapse: collapse;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.29);
}
.subject thead{
    letter-spacing: 1px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.67);
}
.subject table th, td{
    padding: 10px 50px;
}
.subject table td{
    letter-spacing: 1px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Anek Odia', sans-serif;
}

.untake{
    color: white;
    background-color: rgba(255, 165, 0, 0.79);
    padding: 7px 25px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
      text-decoration: none;
}

.untake:hover{
    background-color: rgba(219, 142, 0, 0.79);
    transition: 0.5s all ease;

}
.required{
    padding: 5px 10px;
    font-size: 13px;
     font-weight: bold;
    font-family: sans-serif;
    color: rgba(255, 0, 0, 0.69);
}
.checked{
    height: 500px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checked img{
    width: 100px;
    height: 100px;
    margin: 10px 0px;
}
.checked p{
     font-family: 'Anek Odia', sans-serif;
     font-size: 17px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4);
}
.btn-success:hover{
    background-color: rgb(232, 136, 24);
    transition: 0.5s all ease;
}
button[name=remove]:hover{
     background-color: rgb(232, 136, 24);
    transition: 0.5s all ease;
}
.subject-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-control{
    width: 500px;
    padding: 10px 0px 7px 6px; 
    outline-color: rgba(247, 135, 52, 0.85);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.49);
    background-color: rgba(235, 235, 235, 0.12);
}
.btn{
    cursor: pointer;
     padding: 5px 10px;
    color: white;
    background-color: rgba(255, 165, 0, 0.79);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.button-container{
   display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.button-container button{
    width: 200px;
    height: 40px;
    border: 1px solid #f44336;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #f44336;
}
/* profile page */

.profile{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.profile-col{
    width: 50%;
    flex-basis: 70%;
    padding: 30px 2px;
}
.profile-col-image{
    padding: 0;
    width: 30%;
}
.profile-col-image img{
    width: 50%;
    float: right;
}
@media(max-width: 700px){
    .profile-col{
        width: 100%;
    }
    .profile-col-image{
        width: 100%;
        float: right;
    }
}